<div class="team"> 
	<h2 class="atleta_h2 mhou23">MHOpen U23</h2>
	<h3 class="atleta_h3 mhou23">Andrea "Mini Zanardi" Villa</h3>
	<div class="atleta_grid">
		<div class="img"><%= image_tag "andrea/presentazione.jpeg", :class => "atleta_img"%></div>
		<div class="descr">
      <p>Andrea si avvicina all ‘handbike all’età di 7 anni,  a Rosenau con una bike handmade in acciaio di Delo
      <br/>
      Seguendo il padre Alessandro e lo zio Federico nelle loro competizioni nazionali e internazionali: Monza, Maratona Venezia , Massa, Rosenau , Barcellona, Emmen, NYC, Miami ... ha guadagnato il soprannome di “Mini Zanardi”!
      <br/>
      Affianca l’handbike ad una carriera sportiva multitasking che lo vede primeggiare con successo in arti marziali, atletica 1000 metri e calcio, a livello agonistico.
      <br/>
      Con la Piccoli Diavoli, in categoria HOpen lo ritroveremo prestissimo a misurarsi con i migliori atleti nelle prossime gare UCI WHF‼️
      </p>
    </div>
	</div>
  <div class="gallery">
    <%= image_tag "andrea/1.jpeg", :class => "atleta_img"%>
    <%= image_tag "andrea/2.jpeg", :class => "atleta_img"%>
  </div>
</div>
