<div class="team"> 
  <h2 class="atleta_h2 mh1">MH1</h2>
  <h3 class="atleta_h3 mh1">Emanuele Lanzani</h3>
  <div class="descr">
      <p>Secondo anno che pratica questa attività sportiva.<br>
"Grazie al Presidente che ci permette di fare questo sport e grazie a tutti i volontari amici !<br>
Tutto ciò per me genera un grande team” 
      </p>
    </div>




</div>