<div class="team"> 
	<h2 class="atleta_h2 mh2">MH2</h2>
	<h3 class="atleta_h3 mh2">
Federico Richard Villa</h3>
	<div class="atleta_grid">
		<div class="img"><%= image_tag "kiko/profile.jpg", :class => "atleta_img" %></div>
		<div class="descr"><p>Nato a New York nel 1986,
Residente a Carate B.za attualmente convive a Seregno con la compagna Maria.
A 14  anni la diagnosi di Atassia di Friedreich. ‘Barcollo ma non mollo’ il suo motto. Dapprima il supporto delle stampelle, poi dall’età di 18 anni la sedia a rotelle.
<br>
Inizia ad avvicinarsi al mondo della Handbike a 19 anni grazie al fratello maggiore Alessandro, anche lui affetto dalla stessa patologia, ed è subito  passione a cui si unisce la scoperta di avere potenzialità per ottenere buoni risultati nella disciplina. Dopo pochi mesi  inizia ad affrontare la prima maratona e le prime gare internazionali portando a termine competizioni in Australia, Sud Africa, Libano, Emirati Arabi. Ha gareggiato  in tutta Europa, in Italia e nel mondo riuscendo a salire sul podio in diverse occasioni  conquistando titoli  italiani e mondiali.</p></div>
	</div>
	<div class="descr"><p>
<h3>Palmares </h3>
<p>
2° Wild West Tour Australia 2007
8° Campionati del Mondo di Parabiago 2007
1° Maratona di George Town South Africa 2008
1° Campionato Italiano prova in linea 2008
4° Campionato Mondiale UCI cronometro 2009
1° Campionato Italiano prova in linea e cronometro 2009
3° “International Paracycling Cup” Piacenza 2009
2° “International Paracycling Cup” Piacenza 2010
1° Giro d’Italia Handibike 2010
2° Campionato italiano prova in linea 2013 nella categoria MH2
1° alla IV tappa del giro d’Italia di Handbike nella categoria MH2

<br>
Nel 2012 i preparativi e il viaggio a New York  per partecipare con la sua Handbike alla famosa maratona della cittadina che all’ultimo è stata cancellata a causa delle devastazioni dell’uragano Sandy
<br>
“Le prime gare internazionali mi hanno permesso non solo di confrontarmi in modo diverso con la disabilità, ma anche di girare il mondo”.
<br>
“Lo sport è diventato negli anni un mezzo di comunicazione importante, una situazione in cui sentirsi “alla pari”, un’occasione per condividere sogni, speranze e paure. I valori dello sport hanno aiutato molte persone con disabilità, me compreso, a sentirsi forti, a ritrovare energia e sentirsi in qualche modo uguali agli altri, se non “diversamente migliori”. Tutto questo ti prepara ad affrontare la sfida più grande, vivere. Ogni giorno è un traguardo, una vittoria silenziosa e importante”.
<br>
Negli ultimi anni continua con le sue partecipazioni a gare di handbike perché anche se il progredire della malattia gli concede poche chances di poter salire di nuovo sul podio, considera l’attività sportiva una delle sue priorità insieme all’altra sua passione: “Ho girato il mondo in handbike, e continuo a farlo anche in sedia a rotelle, esplorandolo e mettendomi alla prova ogni anno, anche, rispetto al tempo che corre contro di me… Raccontare la mia esperienza da “disabile” attraverso i miei viaggi e le storie di disabilità che incontro è il mio modo per contribuire ad una “rivoluzione culturale” alla quale, per quanto riconosca essere un’utopia, credo e per questo racconto”.
</p>
<h3>La passione per I viaggi</h3>
<ul>
<li>Rolling Cuba nov/dic 2013</li>
<li>‘Rolling Vietnam’ – Nov\Dec 2015</li>
<li>‘Rolling Argentina’ – May/June 2017</li>
<li>Rolling Canada giu/lug 2018</li>
<li>Rolling Colombia feb/marzo 2019</li>
</ul>
<h3> LINK</h3>
<ul>
	<li><a href='http://www.storiedisport.it/?p=10144'>http://www.storiedisport.it/?p=10144</a></li>


<li><a href='https://www.sguardidiconfine.com/federico-villa-atleta-paralimpico-mio-viaggio-rotelle-vietnam/'>https://www.sguardidiconfine.com/federico-villa-atleta-paralimpico-mio-viaggio-rotelle-vietnam/</a></li>


<li><a href='https://www.tuttobiciweb.it/article/53987'>https://www.tuttobiciweb.it/article/53987</a></li>


<li><a href='http://www.girohandbike.it/federico-villa-la-corsa-contro-il-tempo/'>http://www.girohandbike.it/federico-villa-la-corsa-contro-il-tempo/</a></li>


<li><a href='https://video.gazzetta.it/federico-villa-l-handbike-piu-che-sperare-preferisco-vivere/504dc1d6-9aef-11e3-8a28-747901d41364'>https://video.gazzetta.it/federico-villa-l-handbike-piu-che-sperare-preferisco-vivere/504dc1d6-9aef-11e3-8a28-747901d41364</a></li>


<li><a href='https://www.bikeitalia.it/2018/11/09/milano-una-serata-dedicata-alle-handbike/'>https://www.bikeitalia.it/2018/11/09/milano-una-serata-dedicata-alle-handbike/</a></li>


<li><a href='https://pedaletricolore.it/tag/federico-villa-handbike-vietnam/'>https://pedaletricolore.it/tag/federico-villa-handbike-vietnam/</a></li>


<li><a href='http://www.casateonline.it/articolo.php?idd=83473&origine=1&t=Missaglia%3A+l%27atleta+di+handbike+Federico+Villa+alle+medie+per+il+progetto+Io+tifo+positivo+spiega+che+%27%27la+diversit%26agrave%3B+non+esiste%27%27'>http://www.casateonline.it/articolo.php?idd=83473&origine=1&t=Missaglia%3A+l%27atleta+di+handbike+Federico+Villa+alle+medie+per+il+progetto+Io+tifo+positivo+spiega+che+%27%27la+diversit%26agrave%3B+non+esiste%27%27</a></li>


<li><a href='http://www.prodigio.it/arc?sh=/91/1381.html'>http://www.prodigio.it/arc?sh=/91/1381.html</a></li>


<li><a href='http://www.casateonline.it/articolo.php?idd=83473&origine=1&t=Missaglia%3A+l%27atleta+di+handbike+Federico+Villa+alle+medie+per+il+progetto+Io+tifo+positivo+spiega+che+%27%27la+diversit%26agrave%3B+non+esiste%27%27'>http://www.casateonline.it/articolo.php?idd=83473&origine=1&t=Missaglia%3A+l%27atleta+di+handbike+Federico+Villa+alle+medie+per+il+progetto+Io+tifo+positivo+spiega+che+%27%27la+diversit%26agrave%3B+non+esiste%27%27</a></li>


<li><a href='https://www.superabile.it/cs/superabile/sport/campionati-di-paraciclismo-su-strada-francesca-porcellato-tr.html'>https://www.superabile.it/cs/superabile/sport/campionati-di-paraciclismo-su-strada-francesca-porcellato-tr.html</a></li>


<li><a href='http://www.metronews.it/13/06/09/paraciclismo-gli-azzurri-coppa-conquistano-21-podi-e-5-maglie-da-leader.html'>http://www.metronews.it/13/06/09/paraciclismo-gli-azzurri-coppa-conquistano-21-podi-e-5-maglie-da-leader.html</a></li>

</ul>
</div>
</div>
 <div class="gallery">
    <%= image_tag "kiko/1.jpg", :class => "atleta_img"%>
    <%= image_tag "kiko/2.jpg", :class => "atleta_img"%>
 </div>


