<div class="team"> 
	<h2 class="mh2">MH2</h2>
	<h3>Federico "Sua maestà" Villa</h3>
	<div class="atleta_grid">
		<div class="img"><%#= image_tag "kiko", :class => "atleta_img" %></div>
		<div class="descr"><p></p></div>
	</div>
</div>