<div class="team"> 
	<h2 class="atleta_h2 mh3">MH3</h2>
	<h3 class="atleta_h3 mh3">Franco Manusé</h3>
	<div class="atleta_grid">
		<div class="img"><%= image_tag "franco", :class => "atleta_img"%></div>
		<div class="descr"><p>
		Grande uomo di 47 anni ha dato tutto x se stesso e continua a dare tanto per la propria famiglia😍 <br>
		ha lottato tanto nella sua vita da quando aveva 18 mesi, ogni giorno un ostacolo da superare e ogni volta superato....vive ogni giorno come se fosse l'ultimo ma sa bene che non lo è perché ha una gran voglia di vivere come un amico che frequenta il famoso roxy bar alla steve McQueen
		<br>
		<br>
		<br>
		<br>
		</p>
</div>
	</div>
</div>
<div class="gallery">
    <%= image_tag "franco/1.jpg", :class => "atleta_img"%>
    <%= image_tag "franco/2.jpg", :class => "atleta_img"%>
 </div>

 <script type="text/javascript">
 	var audio_playing = false;
 	$( window ).scroll(function() {
 		if(!audio_playing){
 			audio_playing = true;
 			var audio = new Audio('/crazy_frog.mp3');
			audio.play();
		}
 	});
 </script>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>