<div class="team"> 
	<h2 class="atleta_h2 mh4">MH4</h2>
	<h3 class="atleta_h3 mh4">Franz Parolo</h3>
	<div class="atleta_grid">
		<div class="img"><%#= image_tag "franco", :class => "atleta_img"%></div>
		<div class="descr"><p>
			<p> Un po’ di me:<br/>
				Da quando sono nato, ho sempre dovuto fare i conti con i miei limiti fisici, la mia difficoltà (diplegia spastica)... e il giudizio della gente.<br>
				Tutti i "NO" che ricevevo.. dai medici, dalle situazioni, dalle persone... ho sempre cercato di trasformali in "SI"
				Nel crescere ho sviluppato una grande forza di volontà, autostima e tenacia che mi hanno portato ad allontanare sempre di + i miei limiti fisici dal corpo e dalla mia mente.<br>
				Oggi a 41 anni voglio mettermi in gioco come disabile, senza maschere,senza barriere mentali. 
				Un giorno una persona mi ha detto "Sii te stesso, perché nessuno è migliore di te!"...aveva ragione! e la cosa vale per tutti.. non solo per persone disabili...
				Il progetto con l'handbike è appena cominciato e prima di tutto quello che ho intenzione di fare è dello sport perché fa bene al mio fisico (come del resto a tutti...) poi il percorso sarà lungo e faticoso ... ma non mi pongo limiti (...)
				Sono entrato in contatto con un grande atleta... ragazzo...amico: Federico Villa che mi ha "iniziato" a questo sport quasi per caso e mi ha permesso di provare inizialmente una magnifica Carbonbike (una handbike da paura!!!)
			</p>
		</div>
	</div>
</div>
<div class="gallery">
    <%#= image_tag "franco/1.jpg", :class => "atleta_img"%>
    <%#= image_tag "franco/2.jpg", :class => "atleta_img"%>
 </div>

 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>