<div class="team"> 
  <h2 class="atleta_h2 mh3">MH3</h2>
  <h3 class="atleta_h3 mh3">Giovanni Pagotto</h3>
  <div class="atleta_grid">
    <div class="img"><%= image_tag "giovanni/presentazione.jpg", :class => "atleta_img"%></div>
    <div class="descr">
      <p>
        Outsider Veneto dei Piccoli Diavoli, classe '89, mezzofondista in pista di atletica per molti anni. Sul punto di iniziare una preparazione full immersion per il triathlon Ironman, rimane vittima di un brutto incidente in moto a fine 2016. Recuperate le braccia viene a conoscenza della handbike, e non vede l'ora di poter riassaporare le gioie dell'agonismo con questo mezzo...che al di là della sfortuna, gli piace di più della corsa. 
      </p>
    </div>
  </div>
</div>