<div class="team"> 
  <h2 class="atleta_h2 mh3">MH3</h2>
  <h3 class="atleta_h3 mh3">Giovanni Pagotto</h3>
  <div class="atleta_grid">
    <div class="img"><%= image_tag "giovanni/presentazione.jpg", :class => "atleta_img"%></div>
    <div class="descr">
      <p>
        Outsider Veneto dei Piccoli Diavoli, classe '89, mezzofondista in pista di atletica per molti anni. Sul punto di iniziare una preparazione full immersion per il triathlon Ironman, rimane vittima di un brutto incidente in moto a fine 2016. Recuperate le braccia viene a conoscenza della handbike, e non vede l'ora di poter riassaporare le gioie dell'agonismo con questo mezzo...che al di là della sfortuna, gli piace di più della corsa. 
      </p>
      <p>
        <h3>Esperienza a Mallorca</h3>
        Buonasera dame e messeri! 😊 tutto più o meno bene qui a Mallorca 😉 grazie millerrime per la bellissima esperienza che mi fate fare (e a Alessandro e Federico per i porta bagagli che mi hanno salvato!!!!) 😊😊😊 La bici è arrivata intera...l'unica cosa è che è partita la valvola del tubolare anteriore (nuovo di pacca) e devo sostituirlo...è a rischio la cronometro di domani 😟 
        Comunque mal che la vada comincio con la tappa di venerdì... grazie grazie grazie!!!!<br/>
        cit: "Giovanni Pagotto via WhatsApp"
      </p>
    </div>
  </div>
  <br/>
  <div class="container gallery">
    <% @images = Dir.glob("app/assets/images/giovanni/*") %>
    <div class="carousel carousel-slider">
      <% @images.each do |img| %>
        <a class="carousel-item" href="#one!">
          <%= image_tag "giovanni/#{img.split('/').last}" %>
        </a>
      <% end %>
    </div>
</div>
<br/>
<br/>
<br/>
<br/>
<script type="text/javascript">
  $(document).ready(function(){
    
    $('.parallax').parallax();
    $('.carousel.carousel-slider').carousel(
    {
      fullWidth: true,
      indicators: false,
      duration: 250
    });
  })
  
  setInterval(function() {
    $('.carousel.carousel-slider').carousel('next');
  }, 4000);
</script>
