<div class="team"> 
	<h2 class="atleta_h2 mh4">MH4</h2>
	<h3 class="atleta_h3 mh4">Iago Bernardi</h3>
	<div class="atleta_grid">
		<div class="img"><%#= image_tag "andrea", :class => "atleta_img"%></div>
		<div class="descr"><p></p></div>
	</div>
</div>