<div class="team"> 
	<h2 class="atleta_h2 mh3">MH3</h2>
	<h3 class="atleta_h3 mh3">Iago Bernardi</h3>
	<div class="atleta_grid">
		<div class="img"><%= image_tag "iago/iago.jpg", :class => "atleta_img"%></div>
		<div class="descr"><p>
      classe 92, da sempre alla ricerca di una buona dose di adrenalina scopre l'handbike all'età di 15 anni, partecipa a gare nazionali ed ad alcuni eventi EHC, dopo una lunga pausa dall'agonismo, torna in pista con i PD3R per spingersi nuovamente oltre i propri limiti.
    </p>
    </div>
	</div>
</div>