<div style="text-align: center;">
  <ul>
    <li style="display: inline-block;"><a href="#tempio">Manifesto</a></li>
    <li style="display: inline-block;"><a href="#programma">Programma gara</a></li>
  </ul>
  <div id="tempio" >
    <%= image_tag "manifesto1.png", :style => "width:100%;" %>
  	<%= image_tag "manifesto2.png", :style => "width:100%;" %>
  </div>
  <object id="programma" data="/Monza_2019_Reg_approv.pdf" type="application/pdf" style="width:100%; min-height: 800px;">
    <iframe src="/Monza_2019_Reg_approv.pdf"></iframe>
  </object>
</div>