<div style="text-align: center;">
  <ul>
    <li style="display: inline-block;"><a href="#tempio">Manifesto</a></li>
    <li style="display: inline-block;"><a href="#programma">Programma gara</a></li>
  </ul>

	<%= image_tag "manifesto.jpg", :style => "width:100%;", :id => "tempio" %>
  <object id="programma" data="/Monza_2019_Reg_approv.pdf" type="application/pdf" style="width:100%; min-height: 800px;">
    <iframe src="/Monza_2019_Reg_approv.pdf"></iframe>
  </object>
</div>