/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *
 *= require materialize-css/dist/css/materialize.min.css
 */

body{
	background: #585959;
}

p,span,div,h1,h2,h3,h4,h5,h6{
	color: white;
}

.my_divider{
	color: white;
	border: 1px solid rgba(255,255,255,0.5);
	min-height: 1px;
}

.bandiere{
  width: 24px;
}
.my_sidenav{
  background-color: #585959 !important;
  p,div,ul,li, a.my_link{
  	color: white !important;
  }
}

nav.mobile_menu > div.nav-wrapper{
	background: #444545;
}
.sidenav li > a > i, .sidenav li > a > i.material-icons.my_icons{
	color:white;
}

 .mobile_menu{
		display: block;
 }

.atleta_img{
	width: 350px;
	@media screen and (max-width: 768px){
		width: 285px;
	}
}

nav .brand-logo.my_logo{
	display: block !important;
}

nav a.sidenav-trigger {
    display: block !important;
}

nav .brand-logo {
    left: 50% !important;
    -webkit-transform: translateX(-50%) !important;
    transform: translateX(-50%) !important;
}

.atleta_grid{
	display: grid;
	grid-template-areas: "img descr";
	@media screen and (max-width: 768px){
		display: block;
	}
}

.ale_img{
	width: 50%;
}

.img{
	grid-area: img;
}

.descr{
	grid-area: descr;
	p{
		font-size: 16px;
		margin-top: 0;
		margin-left: 15px;
		@media screen and (max-width: 768px){
			margin-left: 0px;
		}
	}
}
.mh1{
	color: green !important;
	text-shadow: 2px 2px 4px #000 !important;
}
.mh2{
	color: lightblue !important;
	text-shadow: 2px 2px 4px #000 !important;
}
.mh3{
	color: white !important;
	text-shadow: 2px 2px 4px #000 !important;
}
.mh4{
	color: red !important;
	text-shadow: 2px 2px 4px #000 !important;
}
.mhou23{
	color: black !important;
	text-shadow: 2px 2px 4px #FFF !important;
}

.atleta_h2{
	font-size: 30px !important;
}

.atleta_h3{
	font-size: 28px !important;
}


footer{
	text-align: center;
	background: #585959;
	span,div,p{
		font-size: 12px;
	}
}

.banner_grid{
	grid-template-areas: 'aisa frase';
	display: grid;
}

.aisa{
	grid-area: aisa;
}

.frase{
	grid-area: frase;
	font-size: 20px;
	@media screen and (min-width: 480px ){
		font-size: 24px;
	}
}

.parallax-container {
    height: 270px !important;
}

.my_grey{
    background-color: #585959;
}


.sponsor_image{
	width: 150px;
	height: 150px;
}
