/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *
 *= require materialize-css/dist/css/materialize.min.css
 */

body{
	background: #585959;
}

p,span,div,h1,h2,h3,h4,h5,h6{
	color: white;
}

.fullsize_menu{
 	display: none;
 	@media screen and (min-width: 993px) {
		display: block;
	}
 }

 nav.fullsize_menu > div.nav-wrapper{
	background: #444545;
	position: fixed;
	width: 100%;
	height: auto;
	z-index: 1;
}

.bandiere{
  width: 24px;
}
.my_sidenav{
  background-color: #585959 !important;
  p,div,ul,li,a{
  	color: white !important;
  }
}

nav.mobile_menu > div.nav-wrapper{
	background: #444545;
}
.sidenav li > a > i, .sidenav li > a > i.material-icons.my_icons{
	color:white;
}

 .mobile_menu{
 	display: none;
 	@media screen and (max-width: 992px) {
		display: block;
	}
 }

.atleta_img{
	width: 350px;
}


nav .brand-logo.my_logo{
	@media screen and (max-width: 360px){
		font-size: 14px !important;
		font-weight: bold !important;
	}
	@media screen and (min-width: 361px) and (max-width: 440px){
		font-size: 15px !important;
		font-weight: bold !important;
	}
	@media screen and (min-width: 441px) and (max-width: 662px){
		font-size: 16px !important;
		font-weight: bold !important;
	}
}
.atleta_grid{
	display: grid;
	grid-template-areas: "img descr";
}

.ale_img{
	width: 50%;
}

.img{
	grid-area: img;
}

.descr{
	grid-area: descr;
}
.mh1{
	color: green;
	text-shadow: 2px 2px 4px #000;
}
.mh2{
	color: lightblue;
	text-shadow: 2px 2px 4px #000;
}
.mh3{
	color: white;
	text-shadow: 2px 2px 4px #000;
}
.mh4{
	color: red;
	text-shadow: 2px 2px 4px #000;
}
.mhou23{
	color: black;
	text-shadow: 2px 2px 4px #FFF;
}